<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <main class="container">
      <h1>Iniciar Sesión</h1>

      <form action="/access" method="post" id="loginForm">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Ingrese su email"
          required
        />
        <label for="email">Email:</label>
        <button type="submit">Ingresar</button>
      </form>
      <% if (error) { %>
      <p id="errorMessage" class="error-message"><%= error %></p>
      <% } %>
    </main>
  </body>
</html>
