@import url("imports/base.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main {
  width: 100%;
  max-width: 720px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border-radius: 50%;
  padding: 1rem;
  gap: 1rem;
}
main picture {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main article {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
  color: var(--white);
  text-align: center;
}

main article h2 {
  text-transform: uppercase;
  font-style: italic;
}

main article a {
  padding: 0.75rem 1.25rem;
  background-color: var(--danger);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  border: 0.2rem solid transparent;
  transform: scale(0.95);
  transition: all 300ms ease-in-out;
}
main article a:hover {
  background-color: transparent;
  color: var(--danger);
  border-color: var(--danger);
  transform: scale(1);
}
