<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Nueva Categoría</title>
  </head>
  <body>
    <%- include('../partial/user.ejs') %>
    <main>
      <h1>Agregar Nueva Categoría</h1>
      <form action="/categories/save" method="post" id="category-form">
        <label for="name">Nombre de la Categoría:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Ej: Empleado Público"
          required
        />
        <button type="submit">Guardar</button>
      </form>
    </main>

    <script src="app.js"></script>
  </body>
</html>
