<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Edit</title>
    <link rel="stylesheet" href="/css/users/edit_user.css" />
  </head>
  <body>
    <main>
      <header>
        <h1>Editar de Usuario</h1>
      </header>
    </main>
  </body>
</html>
